:root {
  --bg: #282a36;
  --bg-soft: #2f3240;
  --bg-highlight: #44475a;

  --fg: #e6e6e6;
  --comment: #6b7aa8;

  --pink: #ff79c6;
  --purple: #bd93f9;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --yellow: #f1fa8c;
  --orange: #ffb86c;

  --border-radius: 6px;
}